#myDIV 
    {
        width: 600px;
        height: 450px;
        background-color: teal;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
 input[type=checkbox] 
    {
        margin: 7px 0px 0px;
        line-height: normal;
        width: 30px;
        height: 30px;
    }                   
.button 
    {
        display: inline-block;
        padding: 10px 10px;
        font-size: 15px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: black;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }

.button:hover {background-color: black}

.button:active 
    {
        background-color: lightslategray;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
            